/*Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro praesentium delectus sequi ipsa aut commodi. Ex omnis in sapiente. Tempora odio ratione pariatur possimus! Laudantium atque mollitia placeat iste tempore! */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    height: 3vh;
    width: auto;
}


.icon.white{
    filter: invert(100%);
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: #0ea5e9;
    color: white;
    grid-row: 1 / 3;
    padding: 3vh;
    padding-top: 0vh;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.dashboard {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 3vh
}

.dashboard.icon.white {
    height: 6vh;
    width: auto;
}

.dashboard > p {
    grid-column: 2;
    font-weight: bold;
    font-size: 4vh;
    cursor: pointer;
}

.option {
    display: grid;
    justify-content: start;
    align-items: center;
    gap: 3vh
}

.option > img {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

.icon-p {
    grid-column: 2;
    margin-right: auto;
    font-weight: bold;
    cursor: pointer;
}

.icon-p:hover {
    text-decoration: underline;
}

.header {
    grid-column: 2;
    display: grid;
    padding: 3vh 9vh 3vh 6vh;
    box-shadow: 3px 2px 5px 1px #5c5c5c;
}

.h-top {
    grid-row: 1;
    display: grid;
    grid-template-columns: 60% 40%;
}

.search {
    display: flex;
    align-items: center;
    gap: 3vh;
}

input {
    flex: 1;
    border: 0px;
    background-color: #e2e8f0;
    border-radius: 3vh;
    height: 3vh;
}

.profile {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 4vh;
    margin-left: auto;
}

.pfp-small {
    border-radius: 100%;
    height: 6vh;
    width: auto;
}

.username-small {
    font-weight: 600;
}

.h-bottom {
    grid-row: 2;
    display: grid;
    justify-content: space-between;
}

.greeting {
    display: grid;
    justify-content: center;
    column-gap: 3vh;
    margin-top: 4vh;
    align-items: center;
}

.pfp {
    grid-row: 1 / 3;
    height: 10vh;
    width: auto;
    border-radius: 100%;
}

.small-greeting {
    font-size: 2vh;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    margin-bottom: -1.5vh;
}

.username {
    grid-column: 2;
    grid-row: 2;
    font-size: 3vh;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    margin-top: -1.5vh;
}

.options {
    grid-column: 2;
    display: flex;
    gap: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8vh;
}

button {
    border: 0px;
    background-color: #0ea5e9;
    color: white;
    height: 5.5vh;
    width: 15vh;
    border-radius: 5.5vh;
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #136e99;

}

.main {
    grid-row: 2;
    grid-column: 2;
    background-color: #e2e8f0;
    display: grid;
    gap: 3vh;
    padding: 3vh 3vh 5vh 3vh;
}

.main.text {
    padding: 0px;
    margin-top: 0px;
}

.container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3vh;
}

.project {
    background-color: white;
}

.else {
    grid-column: 2;
}

.container-announcements {
    background-color: white;
    padding: 3vh;
}

.container-trending {
    background-color: white;
    padding: 3vh;
}

.trend {
    display: flex;
}